* {
  font-family: "FiraCode Nerd Font", monospace;
  font-size: 14px;
  background: #1e1e2e;
  color: #cdd6f4;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

window {
  background: #1e1e2e;
  border: 2px solid #313244;
  border-radius: 8px;
}

#input {
  margin: 10px;
  padding: 6px 16px 6px 6px; /* top, right, bottom, left */
  border-radius: 6px;
  background-color: #313244;
  color: #cdd6f4;
}

#entry {
  padding: 6px 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 4px;
}

#entry:selected {
  background-color: #313244;
  color: #ffffff;
}

